# General ignores
figs/backup/
backup/
extra/
__pycache__/
*.pyc
*.pyo
*.DS_Store
.env
.ipynb_checkpoints/
.vscode/
data/model_output/results
data/test_preprocessed_pose
gnn/
Performance/data/raw
Performance/figs/
Performance/tables/
Pose/data/raw_data
Pose/figs/

# Ignore everything under processed_data except linear_metrics
Pose/data/processed_data/**
!Pose/data/processed_data/experimental/
!Pose/data/processed_data/experimental/linear_metrics/
!Pose/data/processed_data/baseline/
!Pose/data/processed_data/baseline/linear_metrics/

Pose/data/processed_data_windowed_norm/
