figs/backup/
extra/
__pycache__/
*.pyc
*.pyo
*.DS_Store
.env
.ipynb_checkpoints/
.vscode/
data/model_output/results
data/test_preprocessed_pose
gnn/
Pose/data/raw
Pose/data/processed/experimental/interp_filtered
Pose/data/processed/experimental/masked
Pose/data/processed/experimental/norm_screen
Pose/data/processed/experimental/templates
Pose/data/processed/experimental/reduced
Pose/data/processed/experimental/features
Performance/data/raw
Performance/figs/
Performance/tables/
Pose/data/raw_data/
Pose/processed_data/baseline/features/
Pose/data/processed_data/experimental/features/
Pose/data/processed_data/baseline/
Pose/data/processed_data/experimental/
Pose/figs/
Pose/tables/